/* - - - - - - - - - - - - - - - - - - - - -

 Title : Wufoo Custom
 Author : Yogesh Jariwala @ RIBA
 URL : http://

 Last Updated : 04/04/2017

- - - - - - - - - - - - - - - - - - - - - */

.wufoo{
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  color: #333 !important;
  font-family: Bariol,Helvetica,Verdana,sans-serif !important;
}

form ul:after, form li:after, form li div:after{
  display: initial !important;
}

.wufoo h2{
  margin-bottom: .5em !important;
  color: #333f48 !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  font-size: 1.625em !important;
}

.wufoo .info, .wufoo .paging-context{
  border-bottom: 1px solid #333f48 !important;
  width: 100% !important;
  height: 30px !important;
  padding-left: 0 !important;
}

.wufoo .form-input-container label. .wufoo .form-input-container-c label{
  color: #333f48 !important;
  font-weight: 700 !important;
  font-size: 1.125em !important;
}

.wufoo .form-input-container input{
  width: 100% !important;
  padding: .54em 1.25em !important;
  line-height: 1.35 !important;
  border: 1px solid #bfced6 !important;
  color: #333f48 !important;
}


.wufoo input.text, .wufoo textarea.textarea, .wufoo label.choice{
  width: 90% !important;
  padding: .54em 1.25em !important;
  line-height: 1.35 !important;
  border: 1px solid #bfced6 !important;
  color: #333f48 !important;
  background: none !important;
  min-width: 0 !important;
}

.wufoo label.desc, .wufoo legend.desc{
  color: #333f48 !important;
  font-weight: 700 !important;
  font-size: 1.125em !important;
}

.wufoo li.focused{
  background-color: #ffffff !important;
}

.leftLabel li div, .rightLabel li div{
  width:60% !important;
  float: right !important;
}


.leftLabel .desc, .rightLabel .desc{
  width: 37% !important;
}

.wufoo input.btTxt{
  background-color: #333f48 !important;
  color: #ffffff !important;
  border: none !important;
  padding: .438em 0 !important;
  line-height: 1.375 !important;
  font-size: 1em !important;
  text-transform: uppercase !important;
  font-family: Bariol,Helvetica,Verdana,sans-serif !important;
  width: 15.625em !important;
  font-weight: 700 !important;
  cursor: pointer !important;
}

.noI .leftLabel .buttons, .noI .rightLabel .buttons{
  padding-left: 0 !important;
}

#Field1, #Field2{
 width: 133px !important;
}

form li.error {
  background-color: #ffffff !important;
}

form ul{
  margin-top: 20px !important;
}

.wufoo select.select{
  width: 100% !important;
  padding: .54em 1.25em !important;
  line-height: 1.35 !important;
  border: 1px solid #bfced6 !important;
  color: #333f48 !important;
  background: none !important;
  min-width: 0 !important;
}


.form-input-container-c #Field9, .form-input-container-c #Field10{
  width: 245px !important;
  margin-right:5px !important;
}


.form-input-container-c #Field1{
  width: 90% !important;
}

.form-input-container-c .left, .form-input-container-c .right {
  width:45% !important;
  margin-right: 4% !important;
  float: left !important;

}

.form-input-container-c .safari select.select{
  font-size: 100% !important;
  width: 105% !important;
}
