/* - - - - - - - - - - - - - - - - - - - - -

 Title : Wufoo Custom
 Author : Yogesh Jariwala @ RIBA
 URL : http://

 Last Updated : 27/03/2017

- - - - - - - - - - - - - - - - - - - - - */

.wufoo{
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  color: #333 !important;
  font-family: Bariol,Helvetica,Verdana,sans-serif !important;
}

form ul:after, form li:after, form li div:after{
  display: initial !important;
}

.wufoo h2{
  margin-bottom: .5em !important;
  color: #333f48 !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  font-size: 1.625em !important;
}

.wufoo .info, .wufoo .paging-context{
  background-color: #333f48 !important;
  width: 100% !important;
  height: .063em !important;
}

.wufoo .form-input-container label{
  color: #333f48 !important;
  font-weight: 700 !important;
  font-size: 1.125em !important;
}

.wufoo .form-input-container input{
  width: 100% !important;
  padding: .54em 1.25em !important;
  line-height: 1.35 !important;
  border: 1px solid #bfced6 !important;
  color: #333f48 !important;
}


.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{
  width: 100% !important;
  padding: .54em 1.25em !important;
  line-height: 1.35 !important;
  border: 1px solid #bfced6 !important;
  color: #333f48 !important;
}


.wufoo label.desc, .wufoo legend.desc{
  color: #333f48 !important;
  font-weight: 700 !important;
  font-size: 1.125em !important;
}
